@using HospitalzinhoSistema.Models.Paciente
@model List<PacienteDTO>

@if( !Model.Any() )
{
    <div class="sugestao-item">
    </div>
}

@foreach (var paciente in Model)
{
    <div class="sugestao-item"
         hx-get="@Url.Page("Consulta", "Selecionar", new { cpf = paciente.CPF })"
         hx-target="#resultado-paciente"
         hx-swap="innerHTML"
         tabindex="-1">
        @paciente.CPF - @paciente.Nome
    </div>
}