@page
@model HospitalzinhoSistema.Pages.Shared._NovaAlergiaPartialModel
@{
}
<fieldset id="form-nova-alergia">
    <!--class="hidden"-->
    <legend>Dados da Alergia</legend>
    <div class="form-grid">
        <div class="form-group full-width">
            <label for="descricao-alergia">Descrição da Alergia</label>
            <input type="text" id="descricao-alergia" name="descricao-alergia" placeholder="Ex: Penicilina, Frutos do mar">
        </div>
    </div>
</fieldset>