@using HospitalzinhoSistema.Models.Prontuario
@model ProntuarioConsultaDTO

<fieldset id="form-nova-consulta">
    <legend>Dados da Consulta</legend>
    <div class="form-grid">
        <div class="form-group">
            <label for="data-consulta">Data</label>
            <input type="date" id="data-consulta" asp-for="DataConsulta">
        </div>
        <div class="form-group">
            <label for="especialidade">Especialidade</label>
            <input type="text" id="especialidade" asp-for="Especialidade">
        </div>
        <div class="form-group full-width">
            <label for="resumo-consulta">Resumo / Anotações</label>
            <textarea id="resumo-consulta" asp-for="Resumo" rows="5"></textarea>
        </div>
    </div>
</fieldset>