@using HospitalzinhoSistema.Models
@using HospitalzinhoSistema.Models.Paciente
@model SugestoesViewModel

@{
    string pageName = Model.PageName;
    string pageHandler = Model.PageHandler;
}

@if (!Model.Sugestoes.Any())
{
    <div class="sugestao-item">
    </div>
}

@foreach (var paciente in Model.Sugestoes)
{
    <div class="sugestao-item"
         hx-get="@Url.Page(pageName, pageHandler, new { cpf = paciente.CPF })"
         hx-target="#resultado-paciente"
         hx-swap="innerHTML"
         tabindex="-1">
        @paciente.CPF - @paciente.Nome
    </div>
}