@using HospitalzinhoSistema.Models.Paciente
@model List<PacienteDTO>

@foreach (var cpf in Model)
{
    <div class="sugestao-item"
         hx-get="/Paciente/Selecionar?cpf=@cpf"
         hx-target="#cpf-paciente"
         hx-swap="outerHTML">
        @cpf.Nome
    </div>
}